body {
  text-align: center;
  /*background-image: url(../images/haikeiimg2.png);*/
  /*background-size: cover;*/
}

.home {
  background-color: pink;
  padding: 10px;
  border-radius: 10px;
}

.keireki,
.hobby {
  font-size: 20px;
  background-color: orange;
  padding: 10px;
  border-radius: 10px;
}


/*plofilehome.html*/

.plofileimg {
  width: 200px;
  height: auto;
  padding: 10px
}

.plofile {
  text-align: center;
  background-image: url(../images/haikeiimg2.png);
  */ background-size: cover;
  */
}

.plofilenaiyou {
  background-image: url(../images/haikeiimg2.png);
  background-size: cover;
}

/*plofilehobby.html*/

.syumi {
  padding-top: 20px;
  background-image: url(../images/haikeiimg3.jpg);
  background-size: cover;
}

.oil,
.pot {
  border-radius: 60px;
}

.cation {
  color: red;
}


/*plofilekeireki.html*/
table {
  margin-left: auto;
  margin-right: auto;
  border: solid 5x pink;
}

th,
td {
  border: solid 2px pink;
}

.keirekiwaku {
  background-image: url(../images/haikeiimg4.jpg);
  background: rgba(0, 100, 250, 5%);
}