body {
    background-color: rgba(50, 200, 255, 30%);
  }

  .title {
      color:green;
      text-size: 20px;
      text-align: center;
  }

  .aform {
    background-color: white;
    margin-left: 35%;
    margin-right:  35%;
    padding-left:10px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 10px;
    border-top: solid 5px blue;
    border-bottom: solid 5px blue;
  /*padding-left:10px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 10px;
    border-top: solid 5px blue;
    border-bottom: solid 5px blue; */
  /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;  */
  }

  .pint {
    color:white;
    background-color: red;
    border-radius: 5px;
  }

  .undertitle {
    text-size: 15px;
    text-align: center;
}